.global-theme {
          --colors-white: #ffffff;
  --colors-black: #000000;
  --colors-source-seed: #b288c7;
  --colors-source-primary: #b288c7;
  --colors-source-secondary: #829fd7;
  --colors-source-tertiary: #fff9bb;
  --colors-ref-error-error0: #000000;
  --colors-ref-error-error10: #410002;
  --colors-ref-error-error20: #690005;
  --colors-ref-error-error30: #93000a;
  --colors-ref-error-error40: #ba1a1a;
  --colors-ref-error-error50: #de3730;
  --colors-ref-error-error60: #ff5449;
  --colors-ref-error-error70: #ff897d;
  --colors-ref-error-error80: #ffb4ab;
  --colors-ref-error-error90: #ffdad6;
  --colors-ref-error-error95: #ffedea;
  --colors-ref-error-error99: #fffbff;
  --colors-ref-error-error100: #ffffff;
  --colors-ref-error-error25: #7e0007;
  --colors-ref-error-error35: #a80710;
  --colors-ref-error-error98: #fff8f7;
  --colors-ref-primary-primary0: #000000;
  --colors-ref-primary-primary10: #30004a;
  --colors-ref-primary-primary20: #491765;
  --colors-ref-primary-primary30: #62317e;
  --colors-ref-primary-primary40: #7b4997;
  --colors-ref-primary-primary50: #9662b2;
  --colors-ref-primary-primary60: #b17cce;
  --colors-ref-primary-primary70: #cd96eb;
  --colors-ref-primary-primary80: #e6b4ff;
  --colors-ref-primary-primary90: #f5d9ff;
  --colors-ref-primary-primary95: #fcebff;
  --colors-ref-primary-primary99: #fffbff;
  --colors-ref-primary-primary100: #ffffff;
  --colors-ref-primary-primary25: #552471;
  --colors-ref-primary-primary35: #6e3d8a;
  --colors-ref-primary-primary98: #fff7fc;
  --colors-ref-secondary-secondary0: #000000;
  --colors-ref-secondary-secondary10: #001b3f;
  --colors-ref-secondary-secondary20: #002f66;
  --colors-ref-secondary-secondary30: #04458e;
  --colors-ref-secondary-secondary40: #2c5da7;
  --colors-ref-secondary-secondary50: #4977c2;
  --colors-ref-secondary-secondary60: #6491de;
  --colors-ref-secondary-secondary70: #80abfb;
  --colors-ref-secondary-secondary80: #abc7ff;
  --colors-ref-secondary-secondary90: #d7e2ff;
  --colors-ref-secondary-secondary95: #ecf0ff;
  --colors-ref-secondary-secondary99: #fdfbff;
  --colors-ref-secondary-secondary100: #ffffff;
  --colors-ref-secondary-secondary25: #003a7a;
  --colors-ref-secondary-secondary35: #1c519a;
  --colors-ref-secondary-secondary98: #f9f9ff;
  --colors-ref-tertiary-tertiary0: #000000;
  --colors-ref-tertiary-tertiary10: #1e1c00;
  --colors-ref-tertiary-tertiary20: #343200;
  --colors-ref-tertiary-tertiary30: #4c4800;
  --colors-ref-tertiary-tertiary40: #656100;
  --colors-ref-tertiary-tertiary50: #807a00;
  --colors-ref-tertiary-tertiary60: #9a9420;
  --colors-ref-tertiary-tertiary70: #b6af3a;
  --colors-ref-tertiary-tertiary80: #d2ca53;
  --colors-ref-tertiary-tertiary90: #efe76c;
  --colors-ref-tertiary-tertiary95: #fdf578;
  --colors-ref-tertiary-tertiary99: #fffbff;
  --colors-ref-tertiary-tertiary100: #ffffff;
  --colors-ref-tertiary-tertiary25: #403d00;
  --colors-ref-tertiary-tertiary35: #595400;
  --colors-ref-tertiary-tertiary98: #fffade;
  --colors-ref-neutral-neutral0: #000000;
  --colors-ref-neutral-neutral10: #1d1b1e;
  --colors-ref-neutral-neutral20: #332f33;
  --colors-ref-neutral-neutral30: #494649;
  --colors-ref-neutral-neutral40: #615d61;
  --colors-ref-neutral-neutral50: #7b767a;
  --colors-ref-neutral-neutral60: #958f93;
  --colors-ref-neutral-neutral70: #b0a9ae;
  --colors-ref-neutral-neutral80: #cbc5c9;
  --colors-ref-neutral-neutral90: #e8e0e5;
  --colors-ref-neutral-neutral95: #f6eff3;
  --colors-ref-neutral-neutral99: #fffbff;
  --colors-ref-neutral-neutral100: #ffffff;
  --colors-ref-neutral-neutral-na-n: #ffffff;
  --colors-ref-neutral-neutral25: #3e3a3e;
  --colors-ref-neutral-neutral35: #555155;
  --colors-ref-neutral-neutral98: #fff7fc;
  --colors-ref-neutral-variant-neutral-variant0: #000000;
  --colors-ref-neutral-variant-neutral-variant10: #1f1a21;
  --colors-ref-neutral-variant-neutral-variant20: #342e36;
  --colors-ref-neutral-variant-neutral-variant30: #4b444d;
  --colors-ref-neutral-variant-neutral-variant40: #635c65;
  --colors-ref-neutral-variant-neutral-variant50: #7d747e;
  --colors-ref-neutral-variant-neutral-variant60: #978e98;
  --colors-ref-neutral-variant-neutral-variant70: #b2a8b2;
  --colors-ref-neutral-variant-neutral-variant80: #cec3ce;
  --colors-ref-neutral-variant-neutral-variant90: #eadfea;
  --colors-ref-neutral-variant-neutral-variant95: #f9edf8;
  --colors-ref-neutral-variant-neutral-variant99: #fffbff;
  --colors-ref-neutral-variant-neutral-variant100: #ffffff;
  --colors-ref-neutral-variant-neutral-variant25: #403941;
  --colors-ref-neutral-variant-neutral-variant35: #575059;
  --colors-ref-neutral-variant-neutral-variant98: #fff7fc;
  --colors-key-colors-primary: #b288c7;
  --colors-key-colors-secondary: #829fd7;
  --colors-key-colors-tertiary: #fff9bb;
  --colors-key-colors-error: #ba1a1a;
  --colors-key-colors-neutral: #615d61;
  --colors-key-colors-neutral-variant: #635c65;
  --colors-label-small: [object Object];
  --colors-label-medium: [object Object];
  --colors-label-large: [object Object];
  --colors-body-small: [object Object];
  --colors-body-medium: [object Object];
  --colors-body-large: [object Object];
  --colors-headline-small: [object Object];
  --colors-headline-medium: [object Object];
  --colors-headline-large: [object Object];
  --colors-display-small: [object Object];
  --colors-display-medium: [object Object];
  --colors-display-large: [object Object];
  --colors-title-small: [object Object];
  --colors-title-medium: [object Object];
  --colors-title-large: [object Object];
  --card-elevation: [object Object],[object Object];
  --font-families-roboto: Roboto;
  --line-heights-0: 16;
  --line-heights-1: 20;
  --line-heights-2: 24;
  --line-heights-3: 32;
  --line-heights-4: 36;
  --line-heights-5: 40;
  --line-heights-6: 44;
  --line-heights-7: 52;
  --line-heights-8: 64;
  --line-heights-9: 28;
  --font-weights-roboto-0: Medium;
  --font-weights-roboto-1: Regular;
  --font-size-0: 11px;
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 22px;
  --font-size-5: 24px;
  --font-size-6: 28px;
  --font-size-7: 32px;
  --font-size-8: 36px;
  --font-size-9: 45px;
  --font-size-10: 57px;
  --letter-spacing-0: 0.5;
  --letter-spacing-1: 0.1;
  --letter-spacing-2: 0.4;
  --letter-spacing-3: 0.25;
  --letter-spacing-4: 0%;
  --letter-spacing-5: -0.25;
  --letter-spacing-6: 0.15;
  --paragraph-spacing-0: 0;
  --text-case-none: none;
  --text-decoration-none: none;
      }