.light-theme {
          --theme-surface-tint: #7b4997;
  --theme-surface-tint-color: #7b4997;
  --theme-on-error-container: #410002;
  --theme-on-error: #ffffff;
  --theme-error-container: #ffdad6;
  --theme-on-tertiary-container: #1e1c00;
  --theme-on-tertiary: #ffffff;
  --theme-tertiary-container: #efe76c;
  --theme-tertiary: #656100;
  --theme-shadow: #000000;
  --theme-error: #ba1a1a;
  --theme-outline: #7d747e;
  --theme-on-background: #1d1b1e;
  --theme-background: #ffffff;
  --theme-inverse-on-surface: #f6eff3;
  --theme-inverse-surface: #332f33;
  --theme-on-surface-variant: #4b444d;
  --theme-on-surface: #1d1b1e;
  --theme-surface-variant: #eadfea;
  --theme-surface: #fffbff;
  --theme-on-secondary-container: #001b3f;
  --theme-on-secondary: #ffffff;
  --theme-secondary-container: #d7e2ff;
  --theme-secondary: #2c5da7;
  --theme-inverse-primary: #e6b4ff;
  --theme-on-primary-container: #30004a;
  --theme-on-primary: #ffffff;
  --theme-primary-container: #f5d9ff;
  --theme-primary: #7b4997;
  --theme-testtestest: #523514;
      }